{
  "bracketSpacing": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 100,
  "arrowParens": "avoid",
  "requirePragma": false,
  "insertPragma": true,
  "endOfLine": "auto",
  "semi": true
}
